html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v12-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v12-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v12-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v12-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-700 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v12-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;

}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #0B132A;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 30;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.header_background {
    background: #FFFFFF;
    border-bottom: 1px solid ;
}
.header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 15px;
}
.logo {
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-text {
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}
.vpn {
    font-weight: 700;
}
.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav-item {
    padding-right: 40px;
}
.nav-item:last-child {
    padding-right: 10px;
}
.nav-item-link {
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.nav-item-link:hover {
    color: dodgerblue;
}
.authorization__list {
    display: none;
}
.authorization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 20px;
}
.sign-in, .sign-up {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #FFECEC;
    color: #F53838;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sign-in {
    border: none;
    border-radius: 50px;
    width: 130px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-right: 10px;
}
.sign-up {
    border-radius: 50px;
    border: none;
    width: 130px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.sign-in:hover, .sign-in:active, .sign-in:focus, .sign-up:hover, .sign-up:active, .sign-up:focus {
    border: 2px solid #F53855;
    color: #F53855;
}
.burger_menu {
    display: none;
    position: relative;
    width: 30px;
    height: 26px;
}
.burger_line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
}
.burger_line:first-child {
    top: 0;
}
.burger_line:nth-child(2) {
    top: 13px;
}
.burger_line:last-child {
    top: 26px;
}
.intro {
    padding-top: 180px;
}
.intro-top-elements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.intro-header {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
}
.intro-description {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    max-width:  555px;
    margin-bottom: 30px;
}
.click-to-start {
    background-color:#F53838;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    
}
.click-to-start:hover ,.click-to-start:active , .click-to-start:focus {
    -webkit-box-shadow: 0 15px 30px rgba(245, 56, 56, 0.35);
            box-shadow: 0 15px 30px rgba(245, 56, 56, 0.35);
}
.intro-picture {
    max-width: 611px;
    max-height: 100%;
}
.intro-bottom-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 103px;
    -webkit-box-shadow: 0 15px 40px #edf0f3;
            box-shadow: 0 15px 40px #edf0f3;
    border-radius: 10px;
}
.locations-block {
    width: 340px;
}
.users-block, .locations-block, .servers-block {
    margin: 38px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 125px;

}
.locations-block {
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
}
.intro-info-logo {
    margin-right: 37px;
    max-width: 55px;
}
.intro-count-users, .intro-count-locations, .intro-count-servers{
    font-weight: 900;
    font-size: 22px;
    line-height: 30px;
}
.wrapper2 {
    max-width: 1070px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}
.features {
    padding-top: 95px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 150px 1fr;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 150px;
}
.features-pic {
    max-width: 508px;
}
.features-header {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-top: 55px;
    margin-bottom: 25px;
}
.features-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 15px;
}
.features-list-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    padding-left: 30px;
    background: url(/images/SVG/feature-check-mark.svg) no-repeat left center;
    margin-bottom: 15px;
}
.plans-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 150px;
}
.plans-header {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
}
.plans-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    max-width: 555px;
    text-align: center;
    margin-bottom: 60px;
}
.plans {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}
.free-plan-block, .standard-plan-block, .premium-plan-block {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 70px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}
.free-plan-block:hover, .free-plan-block:focus, .standard-plan-block:hover, .standard-plan-block:focus, .premium-plan-block:hover, .premium-plan-block:focus {
    border: 2px solid #F53838;
}
.plan-upper-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.free-plan-pic, .standard-plan-pic, .premium-plan-pic {
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 144px;   
}
.plan-name {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.free-plan-feature-list-item, .standard-plan-feature-list-item, .premium-plan-feature-list-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    padding-left: 30px;
    background: url(/images/SVG/vector-mark.svg) no-repeat left center;
}
.plan-bottom-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 35px;
}
.plan-price{
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}
.price {
    font-weight: 500;
}
.plan-select-button{
    width: 178px;
    height: 45px;
    border-radius: 50px;
    border-color: #F53838;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    margin-top: 20px;
}
.plan-select-button:active, .plan-select-button:hover {
    -webkit-box-shadow: 0 15px 30px rgba(245, 56, 56, 0.35);
            box-shadow: 0 15px 30px rgba(245, 56, 56, 0.35);
    background-color: #F53838;
    color: white;
    border: none;
}
.locations {
    padding-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.locations-header {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 25px;
    text-align: center;
    max-width: 383px;
}
.locations-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    max-width: 555px;
    text-align: center;
}
.lasles-vpn-span {
    font-weight: 500;
}
.locations-map {
    padding-top: 155px;
    width: 100%;
}
.netflix, .reddit, .amazon, .discord, .spotify {
    width: 17.5%;
}
.partner-platforms{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
}
.customer-recalls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.customer-recalls-header {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    max-width: 447px;
    margin-bottom: 20px;
}
.customer-recalls-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    max-width: 555px;
    margin-bottom: 50px;
    color: #4F5665;
}
.customer-messages-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.customer-recall {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 20px 2fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    max-width: 400px;
    height: 230px;
    margin-right: 30px;
    padding: 30px;
}
.customer-recall:last-child {
    margin-right: 0;
}
.customer-recall:hover, .customer-recall:active , .customer-recall:focus {
    border: 2px solid #F53838;
    -webkit-box-shadow: 0 15px 50px #ffe7e7 ;
            box-shadow: 0 15px 50px #ffe7e7 ;
}
.customer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.25fr 1.1fr 0.25fr;
    grid-template-columns: 0.25fr 1.1fr 0.25fr;
    -ms-grid-rows: 50px;
    grid-template-rows: 50px;
    height: 50px;
}
.customer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.customer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.customer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.customer-name-and-location {
    margin-left: 15px;
}
.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 26px;
    background: url(/images/rating_star.png) no-repeat right center;
}
.customer-avatar {
    max-width: 50px;
    max-height: 50px;
}
.recall__scroll_and_control_buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 82px;
}
.scroll__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.scroll__status {
    display: block;
    content: "";
    background: #DDE0E4;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border-radius: 10px;
}
.scroll__status:first-child {
    width: 45px;
    background-color: #F53838;
}
.left_button {
    background: url(/images/SVG/left_red_arrow.svg)  no-repeat center center;
    background-color: white;
    width:60px;
    height: 60px;
    border-radius: 30px;
    border: 2px #F53838 solid;
    margin-right: 20px;
}
.right_button {
    background: url(/images/SVG/right_red_arrow.svg)  no-repeat center center;
    background-color: white;
    width:60px;
    height: 60px;
    border-radius: 30px;
    border: 2px #F53838 solid;
}
.left_button:hover, .right_button:hover {
    -webkit-box-shadow: 0 15px 50px #ffacac;
            box-shadow: 0 15px 50px #ffacac;
}
.subscribe-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    padding: 80px 70px;
    margin-bottom: 65px;
    top: 0;
    left: 0;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px #fff0f0;
            box-shadow: 0px 0px 30px #fff0f0;
}
.subscribe-text {
    margin-left: 70px;
}
.subscribe-header {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    max-width: 372px;
    margin-bottom: 10px;
}
.subscribe-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    max-width: 410px;
}
.subscribe-now {
    background-color: #F53838;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    border: none;
    color:white;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}
.subscribe-now:hover , .subscribe-now:active , .subscribe-now:focus {
    -webkit-box-shadow: 0 15px 30px rgba(245, 56, 56, 0.35);
            box-shadow: 0 15px 30px rgba(245, 56, 56, 0.35);
}
footer {
    width: 100%;
    background: #fff4f4;
    padding-top: 150px;
}
.footer-elements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[20];
    grid-template-columns: repeat(20,1fr);
    padding-bottom: 10px;
}
.left-element {
    -ms-grid-column-span: 9;
    grid-column: span 9;
}
.footer-navigation {
    -ms-grid-column-span: 11;
    grid-column: span 11;
}
.lasles-vpn-descripton {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    max-width: 340px;
}
.media-links {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 140px;
}
.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}   
.copyright {
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.footer-list-header {
    margin-bottom: 20px;
}
.footer-list-header-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 30px;
}
.footer-list-item-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}



 /* media starts */
@media screen and (max-width: 1292px) {
    .features {
        grid-column-gap: 50px;
    }
    .customer-recall {
        margin: 0 20px 20px 20px;
    }

}
@media screen and (max-width: 1058px) {
    .free-plan-block, .standard-plan-block, .premium-plan-block {
        padding: 0 25px;
    }
}
@media screen and (max-width: 978px) {
    .intro-header {
        font-size: 37px;
        line-height: 45px;
    }
    .burger_menu {
        display: block;
    } 
    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        z-index: 10;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear;
    }
    .header_nav_active {
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%);
    }
    .header_nav_hide {
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
    }
    .nav-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 20%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .nav-item {
        text-align: center;
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }
    .nav-item:last-child {
        margin-bottom: 0;
    }
    .nav-item-link {
        font-size: 30px;
        line-height: 30px;
        color: black;
    }
    .authorization__list {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        content: "";
        
    }
    .sign-in, .sign-up {
        margin: 15px 10px;
        color: black;
        display: block;
        text-align: center;
        padding-top: 10px;
    }   
    .authorization {
        display: none;
    }
    .close_header_nav {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 15px;
        right: 13px;
        z-index: 11;
    }
    .close_mark {
        display: block;
        width: 100%;
        height: 2px;
        background: #F53838;
        position: absolute;
        top: 50%;  
    }
    .close_mark:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }
    .close_mark:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }
    .intro-top-elements {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .intro-picture {
        width: 100%;
    }
    .intro-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .intro-bottom-elements {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
       
    }
    .users-block, .locations-block, .servers-block {
        margin: 15px 0px;
        width: 340px;
        border-radius: 20px;
        border: 2px solid #949494;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .users-block:hover, .locations-block:hover, .servers-block:hover {
        border: 2px dashed #ffacac;
    }

    .intro-text-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        
    }
    .intro-element-text {
        font-size: 22px;
        line-height: 30px;
        margin-left: 10px;
    }
     .features {
        padding-top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
     }
     .features-pic {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
     }
     .features-description {
         width: 100%;
     }
     .plans-section {
        padding-top: 50px;
     }
     .locations {
         padding-top: 50px;
     }
     .locations-map {
         padding-top: 50px;
     }
     .customer-messages-block {
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
     }
     .recall__scroll_and_control_buttons {
         display: none;
     }
}
@media screen and (max-width: 866px) {

    .features-header, .plans-header, .locations-header, .customer-recalls-header, .subscribe-header {
        font-weight: 500;
        font-size: 25px;
        line-height: 45px;
        max-width: 372px;
        margin-bottom: 1
    }
    .subscribe-block {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .subscribe-text {
       margin-top: 10px;
    }
    .subscribe-now {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .customer-recalls {
        padding: 0 15px;
    }
    .customer-recall:last-child {
        margin: 0;
    }
    .footer-elements {
        -ms-grid-columns: 0.75fr 1fr;
        grid-template-columns: 0.75fr 1fr;
    }
    .left-element {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 809px) {
    .free-plan-block, .standard-plan-block, .premium-plan-block {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .plan-name {
        margin-bottom: 5px;
    }
    .plan-bottom-items {
        margin: 15px 0 10px;
    }
}
@media screen and (max-width: 520px) {
    .header {
        width: 100%;
    }
    .intro {
        padding-top: 130px;
    }
    .features-pic{
        width: 100%;
    }
    .customer-recall {
        width: 100%;
    }
    .users-block, .locations-block, .servers-block {
        width: 100%;
    }
    .footer-list:nth-child(2) {
        margin: 0 15px;
    }
    .footer-list {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 440px) {
    .intro-header {
        font-size: 30px;
    }
    .click-to-start:hover ,.click-to-start:active , .click-to-start:focus {
        -webkit-box-shadow: 0 7px 20px rgba(245, 56, 56, 0.35);
                box-shadow: 0 7px 20px rgba(245, 56, 56, 0.35);
    }
    .click-to-start {
        width: 170px;
        height: 40px;
    }
    .users-block, .locations-block, .servers-block {
        height: 80px;
    }
    .customer-recall {
        height: auto;
        grid-row-gap: 50px;
    }
    .customer-recall:last-child {
        margin: 0 20px 20px;
    }
    .rating {
        padding-right: 15px;
    }
    footer {
        padding-top: 130px;
    }
}
 /* media ends */